<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Demo-ABCD" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.InformationProtection.File" version="1.12.101" targetFramework="net48" />
  <package id="Microsoft.InformationProtection.File.Ubuntu1804" version="1.12.101" targetFramework="net48" />
</packages>